.container.well.well-lg

    .row
        .col-md-8
            h2 {{event.title}}
            br
        .col-md-2.col-xs-4.col-md-offset-1
            .panel.panel-success
                .panel-heading Tags
                .panel-body
                    div(ng-repeat="tag in event.tags") {{tag}}
    .row
        .col-md-6
            p.lead
                strong Venue:
                &nbsp
                {{event.venue}}
                br
            h4.lead
                .label.label-success(ng-show="event.featured") Featured

    br

    .row
        .col-md-6.col-xs-10
            img.img-responsive.img-rounded(ng-src="{{event.image}}" height="350px" width="650px")
        .col-md-5.col-xs-8.col-md-offset-1
            blockquote
                address
                    strong Address:
                    &nbsp
                    {{event.address}}
                    br
                strong Date:
                    &nbsp
                {{event.datetime_start | date:'EEE, MMM d y' : 'UTC'}} - {{event.datetime_end | date:'EEE, MMM d y' : 'UTC'}}
                br
                strong Time:
                    &nbsp
                {{event.datetime_start | date:'h:mm a' : 'UTC'}} until {{event.datetime_end | date:'h:mm a' : 'UTC'}}

    .row
        .col-md-6.col-xs-8.text-justify
            br
            blockquote
                h3 Description
                p {{event.description}}