extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    img(alt='Brand', src='/events-logo.jpg')
                    h6 EventAus
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/events") Events
                    li
                        a(href='/admin/event/create') Add Events
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)


    footer.container.text-center
        p Copyright &copy; 2015 Vaibhav Samadhiya

